* {
  padding: 0;
  margin: 0;
}

body {
  padding: 32px 140px;
}

/* navbar styling */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-bottom: 28px; */
}

.nav-links {
  margin-left: 40px;
}

nav a:first-child {
  margin-left: 0px;
}

nav a {
  text-decoration: none;
  color: black;
  margin-left: 40px;
}

/* .CTA-button {
  background-color: #00bf69;
  color: white;
  width: 12.5rem;
  height: 3.75rem;
  border-radius: 0.625rem;
  outline: none;
  border: 0px;
  text-align: center; 
}  */

/* hero-content styling */
main {
  height: 100vh;
  display: flex;
  align-items: center;
}

main h1 {
  font-size: 4rem;
  color: #222222;
  width: 37.5rem;
  padding-bottom: 1.5rem;
}

svg {
  width: 100%;
}

.ios-button,
.android-button {
  display: flex;
  background-color: #222222;
  color: white;
}

main p {
  width: 31.25rem;
  color: #4f4f4f;
  font-size: 1rem;
}
