* {
  padding: 0;
  margin: 0;
}

body {
  padding: 32px 140px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  margin-left: 40px;
}

nav a:first-child {
  margin-left: 0px;
}

nav a {
  text-decoration: none;
  color: black;
  margin-left: 40px;
}

.CTA-button {
  background-color: #00bf69;
  color: white;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  outline: none;
  border: 0px;
  text-align: center;
}

main {
  height: 100vh;
  display: flex;
}

svg {
  width: 100%;
}
